# The Card Orb API, as a contract.
#
# This file is the one description of what the API answers. A route handler
# under src/app/api/v1 that is not in here fails src/app/api/openapi.test.ts,
# and so does a path in here that no handler answers. Change the code and this
# file in the same commit, or the test says which one you forgot.
#
# Served as-is at https://api.cardorb.com/openapi.yaml and read at build time
# by /docs/api, which renders it without a script from anywhere else.
openapi: 3.1.0

info:
  title: Card Orb API
  version: 1.0.0
  summary: A Pokémon card collection, priced, served to a web tool and an iOS app.
  description: |
    Card Orb keeps one person's Pokémon card collection in Postgres, matches it
    against three card catalogues, prices it from Cardmarket and TCGplayer, and serves it here.

    **Two clients read this API and both are ours**: the web tool at cardorb.com
    and the iOS app. Nothing here is designed for a third party yet.

    **Every failure is `{ "error": "<sentence>" }`** at a status a client can
    branch on. The sentence is for a person to read; the status is for the code.

    **The version is in the path.** `/v1` changes only by addition: a new field,
    a new route, a new optional query. Anything that removes or renames is `/v2`.
  contact:
    name: Card Orb
    url: https://cardorb.com

servers:
  - url: https://api.cardorb.com
    description: The API on its own host. `/v1/…` here is `/api/v1/…` on cardorb.com.
  - url: https://cardorb.com/api
    description: The same API under the web tool's own origin, which is what the browser uses.
  - url: http://localhost:3000/api
    description: Local development.

tags:
  - name: Collection
    description: What the signed-in person owns, and the writes that change it.
  - name: Catalogue
    description: Every set and every card, whether owned or not. Read from pokemontcg.io and cached for a day; the caller's own counts are read fresh.
  - name: Value
    description: What the collection is worth, over time.
  - name: Profile
    description: The signed-in person's name, avatar and public flag.
  - name: Account
    description: Signing up, signing in, passwords and deletion. Browser-only, same-origin.
  - name: Public
    description: The three unkeyed routes behind /user/<name>. No prices, no inventory, own rate limiter.
  - name: Import
    description: Loading a collection from a CSV file.
  - name: Platform
    description: The health check and the nightly price snapshot. Not for clients.

security:
  - bearer: []
  - session: []

components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        A Supabase access token, `Authorization: Bearer <jwt>`. What the iOS app
        sends. Verified locally against the project's signing keys.
    session:
      type: apiKey
      in: cookie
      name: binder_session
      description: |
        The browser's session cookie, set by `POST /v1/session`. What the web
        tool sends. Scoped to cardorb.com, so it never reaches api.cardorb.com —
        the browser calls `/api/v1` on its own origin instead.
    cron:
      type: http
      scheme: bearer
      description: Vercel's `CRON_SECRET`, on `/v1/cron/snapshot` and `/v1/cron/warm` only.

  headers:
    Cache-Control-Private:
      description: Authorised answers are never cached by anything in between.
      schema: { type: string, const: "private, no-store" }
    Cache-Control-Public:
      description: Public answers are cached at the CDN for a minute and never served stale, so a profile turned private is gone within that minute.
      schema: { type: string, example: "public, max-age=0, s-maxage=60" }
    Cache-Control-Public-Catalogue:
      description: A public card is catalogue data, the same for everyone and nobody's to hide, so it is cached at the CDN for an hour and served stale for a day while it refreshes.
      schema: { type: string, example: "public, max-age=0, s-maxage=3600, stale-while-revalidate=86400" }

  responses:
    BadRequest:
      description: The request was understood and refused. The sentence says why.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "Invalid request" }
    Unauthorised:
      description: No viewer. Sign in, or send a bearer token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "Sign in first." }
    Forbidden:
      description: The request came from an origin this deployment does not allow.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "Forbidden" }
    NotFound:
      description: Nothing by that name.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    PayloadTooLarge:
      description: The body is bigger than this route's `BODY_LIMIT`.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "Payload too large" }
    UnsupportedMediaType:
      description: A write without `Content-Type application/json`, which is what forces a browser's preflight.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "Invalid request" }
    TooManyRequests:
      description: Over this route's rate limit for this address. Every 429 carries `Retry-After`.
      headers:
        Retry-After:
          description: Whole seconds until one more request would be let through. Never zero.
          schema: { type: integer, minimum: 1 }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "Too many requests" }
    BadGateway:
      description: A catalogue, the price guide or the database did not answer. A sentence a client can show, never a slug.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "The catalogue did not answer. Try again in a moment." }
    Unavailable:
      description: This deployment has no database, or the database is not answering.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "This deployment has no database configured." }

  schemas:
    Facets:
      type: object
      description: Over the whole owned collection, whatever the filters; what a filter menu offers.
      required: [sets, rarities]
      properties:
        sets:
          type: array
          description: In set order.
          items:
            type: object
            required: [name, title]
            properties:
              name: { type: string, description: "What `set` matches." }
              title: { type: string }
        rarities: { type: array, items: { type: string }, description: "A to Z." }
    Error:
      type: object
      description: The one shape every failure takes.
      required: [error]
      properties:
        error:
          type: string
          description: A sentence for a person. Branch on the status, not on this.
      additionalProperties: true

    Ok:
      type: object
      required: [ok]
      properties:
        ok: { type: boolean, const: true }

    Finish:
      type: string
      enum: [normal, reverse-holo, holo]
      description: Which printing a copy is. `null` on a copy means "nobody has said", not `normal`.

    Price:
      type: object
      description: "One card's price, in euros. Cardmarket's where it stands alone, with its Near Mint band; the average of Cardmarket and TCGplayer (at the ECB rate) where both exist, and then `nm` is null and `market` is the shown figure."
      properties:
        low: { type: [number, "null"], description: "The lowest listing at any condition. A floor, not a price." }
        market: { type: [number, "null"], description: "What one copy trades at." }
        avg30: { type: [number, "null"], description: "The thirty-day average." }
        nm:
          type: [object, "null"]
          description: An estimated English Near Mint asking range. `mid` is the number the grid shows.
          properties:
            low: { type: number }
            mid: { type: number }
            high: { type: number }

    ImageSize:
      type: [object, "null"]
      properties:
        width: { type: integer }
        height: { type: integer }

    Variant:
      type: object
      description: One copy of a card, or one wish for it.
      required: [id, rarity, owned, finish, quantity, condition, grade, purchasePrice, purchaseDate, notes, isFavorite, acquiredAt, excluded]
      properties:
        id: { type: [string, "null"], description: "The collection row, for `PATCH /v1/collection/items/{id}`." }
        rarity: { type: [string, "null"] }
        owned: { type: boolean, description: "`false` is a wishlist entry." }
        finish: { oneOf: [{ $ref: "#/components/schemas/Finish" }, { type: "null" }] }
        quantity: { type: [integer, "null"] }
        condition: { type: [string, "null"] }
        grade: { type: [string, "null"] }
        language: { type: [string, "null"], enum: [en, de, fr, it, es, pt, nl, ja, ko, zh, null], description: "The printing's language; null reads as English." }
        purchasePrice: { type: [number, "null"] }
        purchaseDate: { type: [string, "null"], format: date }
        notes: { type: [string, "null"] }
        isFavorite: { type: boolean }
        acquiredAt: { type: [string, "null"], format: date-time }
        excluded: { type: boolean, description: "Kept out of the public profile and the latest pull." }
        collectionId: { type: [string, "null"], description: "The folder this copy is filed in (`/v1/folders`). Null on a public payload." }

    OwnedCard:
      type: object
      description: A card as the collection groups it, with every copy under it.
      required: [key, name, number, type, gen, image, imageHigh, imageSize, speciesId, variants, owned, price, priceHolo, tcgId]
      properties:
        key: { type: string }
        name: { type: string }
        number: { type: string }
        type: { type: [string, "null"] }
        gen: { type: [string, "null"], description: "The era, in TCGdex's words." }
        image: { type: [string, "null"], description: "Small scan for a grid. Can be relative (`/api/cover?url=…`)." }
        imageHigh: { type: [string, "null"], description: "Large scan. Only where TCGdex has the card." }
        imageSize: { $ref: "#/components/schemas/ImageSize" }
        speciesId: { type: [integer, "null"], description: "The National Pokédex number." }
        variants: { type: array, items: { $ref: "#/components/schemas/Variant" } }
        owned: { type: boolean }
        price: { oneOf: [{ $ref: "#/components/schemas/Price" }, { type: "null" }] }
        priceHolo: { oneOf: [{ $ref: "#/components/schemas/Price" }, { type: "null" }] }
        tcgId: { type: [string, "null"], description: "TCGdex's card id, for `GET /v1/cards/{tcgId}`." }

    CardSet:
      type: object
      required: [name, title, logo, logoSize, releaseDate, total, cards]
      properties:
        name: { type: string, description: "The set as the collection names it. Addresses everything." }
        title: { type: string, description: "The set as the catalogue names it. For reading." }
        logo: { type: [string, "null"] }
        logoSize: { $ref: "#/components/schemas/ImageSize" }
        releaseDate: { type: [string, "null"] }
        total: { type: [integer, "null"] }
        cards: { type: array, items: { $ref: "#/components/schemas/OwnedCard" } }

    Collection:
      type: object
      required: [sets]
      properties:
        sets: { type: array, items: { $ref: "#/components/schemas/CardSet" } }
        catalogueUnavailable:
          type: boolean
          const: true
          description: "Present only when TCGdex could not be reached: the cards are the rows alone, without a scan, a catalogue id or a price, and nothing has cached them. An app should not cache these sets as the collection."

    CardDetail:
      type: object
      description: One card from TCGdex, with its price where the caller may see one.
      required: [id, name, image, rarity, illustrator, hp, types, stage, evolveFrom, regulationMark, set, cmId, cmUrl, price, market]
      properties:
        id: { type: string }
        name: { type: string }
        image: { type: [string, "null"] }
        rarity: { type: [string, "null"] }
        illustrator: { type: [string, "null"] }
        hp: { type: [integer, "null"] }
        types: { type: array, items: { type: string } }
        stage: { type: [string, "null"] }
        evolveFrom: { type: [string, "null"] }
        regulationMark: { type: [string, "null"] }
        set:
          type: [object, "null"]
          properties:
            id: { type: string }
            name: { type: string }
            logo: { type: [string, "null"] }
            total: { type: [integer, "null"] }
        cmId: { type: [integer, "null"], description: "Cardmarket's product id." }
        cmUrl: { type: string }
        price: { oneOf: [{ $ref: "#/components/schemas/Price" }, { type: "null" }] }
        market:
          type: [object, "null"]
          properties:
            avg: { type: [number, "null"] }
            trend: { type: [number, "null"] }
            avg7: { type: [number, "null"] }

    CardFields:
      type: object
      description: The select options the database currently holds.
      required: [sets, rarities, gens, types]
      properties:
        sets: { type: array, items: { type: string } }
        rarities: { type: array, items: { type: string } }
        gens: { type: array, items: { type: string } }
        types: { type: array, items: { type: string } }

    CardDraft:
      type: object
      description: A card to add. Only `name` and `set` are required; the rest default.
      required: [name, set]
      properties:
        name: { type: string }
        number: { type: string }
        set: { type: string }
        rarity: { type: string }
        gen: { type: string }
        types: { type: array, items: { type: string }, maxItems: 10 }
        collection: { type: boolean, default: true, description: "`false` puts it on the wishlist." }
        excluded: { type: boolean, default: false }
        finish:
          oneOf: [{ $ref: "#/components/schemas/Finish" }, { type: "null" }]
          description: "Absent or `null` is 'nobody has said'. Anything else that is not one of the three is a 400, as on `CardPatch`."
        quantity: { type: integer, minimum: 1, default: 1 }
        condition: { type: [string, "null"] }
        grade: { type: [string, "null"] }
        language: { type: [string, "null"], enum: [en, de, fr, it, es, pt, nl, ja, ko, zh, null], description: "The printing's language; null reads as English." }
        purchasePrice: { type: [number, "null"] }
        purchaseDate: { type: [string, "null"], format: date }
        notes: { type: [string, "null"] }
        isFavorite: { type: boolean, default: false }
        collectionId: { type: [string, "null"], format: uuid, description: "A folder of the caller's, filled by hand, to file the card in at once." }

    CardPatch:
      type: object
      description: The inventory fields of one copy. Every key optional; `null` clears one.
      properties:
        owned: { type: boolean }
        excluded: { type: boolean }
        finish: { oneOf: [{ $ref: "#/components/schemas/Finish" }, { type: "null" }] }
        quantity: { type: integer, minimum: 1 }
        condition: { type: [string, "null"] }
        grade: { type: [string, "null"] }
        language: { type: [string, "null"], enum: [en, de, fr, it, es, pt, nl, ja, ko, zh, null], description: "The printing's language; null reads as English." }
        purchasePrice: { type: [number, "null"] }
        purchaseDate: { type: [string, "null"], format: date }
        notes: { type: [string, "null"] }
        isFavorite: { type: boolean }
        collectionId: { type: [string, "null"], format: uuid, description: "The folder to file it in; null takes it out of its folder." }
        acquiredAt: { type: string, format: date-time, description: "When the copy was pulled; not in the future. Decides Newest first." }

    CopyChanges:
      type: object
      description: What a copy differs in from the row it comes from. Every key optional; `null` clears one. Not the card's identity, not quantity, owned or the star.
      properties:
        finish: { oneOf: [{ $ref: "#/components/schemas/Finish" }, { type: "null" }] }
        condition: { type: [string, "null"] }
        grade: { type: [string, "null"] }
        language: { type: [string, "null"], enum: [en, de, fr, it, es, pt, nl, ja, ko, zh, null] }
        purchasePrice: { type: [number, "null"] }
        purchaseDate: { type: [string, "null"], format: date }
        notes: { type: [string, "null"] }
        collectionId: { type: [string, "null"], format: uuid, description: "A folder of the caller's, filled by hand; a rule folder is a 400." }
        acquiredAt: { type: string, format: date-time, description: "When the copy was pulled; not in the future." }

    CopyBody:
      allOf:
        - $ref: "#/components/schemas/CopyChanges"
        - type: object
          properties:
            count: { type: integer, minimum: 1, maximum: 999, default: 1, description: "How many copies." }

    CollectionRow:
      type: object
      description: One row as the database keeps it.
      required: [id, name, number, setName, rarity, gen, types, owned, excluded, acquiredAt, finish, quantity, condition, grade, purchasePrice, purchaseDate, notes, isFavorite]
      properties:
        id: { type: [string, "null"] }
        name: { type: string }
        number: { type: string }
        setName: { type: string }
        rarity: { type: [string, "null"] }
        gen: { type: [string, "null"] }
        types: { type: array, items: { type: string } }
        owned: { type: boolean }
        excluded: { type: boolean }
        acquiredAt: { type: [string, "null"], format: date-time }
        finish: { oneOf: [{ $ref: "#/components/schemas/Finish" }, { type: "null" }] }
        quantity: { type: integer }
        condition: { type: [string, "null"] }
        grade: { type: [string, "null"] }
        language: { type: [string, "null"], enum: [en, de, fr, it, es, pt, nl, ja, ko, zh, null], description: "The printing's language; null reads as English." }
        purchasePrice: { type: [number, "null"] }
        purchaseDate: { type: [string, "null"], format: date }
        notes: { type: [string, "null"] }
        isFavorite: { type: boolean }
        collectionId: { type: [string, "null"], format: uuid }

    CatalogueSet:
      type: object
      required: [id, name, series, releaseDate, total, printedTotal, logo, symbol]
      properties:
        id: { type: string }
        name: { type: string }
        series: { type: string, description: "The era, as pokemontcg.io names it." }
        releaseDate: { type: [string, "null"], description: "`YYYY/MM/DD`, sortable as a string." }
        total: { type: integer, description: "Every card, secret rares included." }
        printedTotal: { type: [integer, "null"], description: "The number printed on the cards." }
        logo: { type: [string, "null"] }
        symbol: { type: [string, "null"] }

    CatalogueSetWithCounts:
      allOf:
        - $ref: "#/components/schemas/CatalogueSet"
        - type: object
          required: [ownedCount, wishlistCount]
          properties:
            ownedCount:
              type: integer
              description: Distinct cards of this set you own, so never more than `total`. Copies do not add up.
            wishlistCount:
              type: integer
              description: Cards of this set on your wishlist.

    BrowseCard:
      type: object
      description: A catalogue card with the caller's own answer attached.
      required: [id, number, name, setName, image, imageHigh, rarity, types, series, owned, wishlist, quantity, itemIds]
      properties:
        id: { type: string }
        number: { type: string }
        name: { type: string }
        setName: { type: string }
        image: { type: [string, "null"] }
        imageHigh: { type: [string, "null"] }
        rarity: { type: [string, "null"] }
        types: { type: array, items: { type: string } }
        series: { type: string }
        owned: { type: boolean }
        wishlist: { type: boolean }
        quantity: { type: integer, description: "Summed over owned rows only." }
        itemIds: { type: array, items: { type: string }, description: "Every collection row this card matched." }

    CardItem:
      type: object
      description: One copy of a card, flat, for a list that pages. `GET /v1/cards`.
      required: [id, name, number, set, setTitle, rarity, gen, type, image, imageHigh, speciesId, tcgId, owned, finish, quantity, condition, grade, purchasePrice, purchaseDate, notes, isFavorite, acquiredAt, collectionId, price, priceHolo]
      properties:
        id: { type: string, description: "The collection row, for `PATCH /v1/collection/items/{id}`." }
        name: { type: string }
        number: { type: string }
        set: { type: string, description: "The set's name as the catalogue spells it." }
        setTitle: { type: string }
        rarity: { type: [string, "null"] }
        gen: { type: [string, "null"] }
        type: { type: [string, "null"] }
        image: { type: [string, "null"] }
        imageHigh: { type: [string, "null"] }
        speciesId: { type: [integer, "null"] }
        tcgId: { type: [string, "null"] }
        owned: { type: boolean, description: "`false` is a wishlist entry." }
        finish: { oneOf: [{ $ref: "#/components/schemas/Finish" }, { type: "null" }] }
        quantity: { type: integer }
        condition: { type: [string, "null"] }
        grade: { type: [string, "null"] }
        language: { type: [string, "null"], enum: [en, de, fr, it, es, pt, nl, ja, ko, zh, null], description: "The printing's language; null reads as English." }
        purchasePrice: { type: [number, "null"] }
        purchaseDate: { type: [string, "null"], format: date }
        notes: { type: [string, "null"] }
        isFavorite: { type: boolean }
        acquiredAt: { type: [string, "null"], format: date-time }
        collectionId: { type: [string, "null"], format: uuid }
        price: { oneOf: [{ $ref: "#/components/schemas/Price" }, { type: "null" }] }
        priceHolo: { oneOf: [{ $ref: "#/components/schemas/Price" }, { type: "null" }] }

    PublicItem:
      type: object
      description: One card on a public profile, with how many copies the owner holds. Nothing private.
      required: [key, name, number, set, setTitle, rarity, gen, type, image, imageHigh, speciesId, tcgId, copies, favorite]
      properties:
        key: { type: string }
        name: { type: string }
        number: { type: string }
        set: { type: string }
        setTitle: { type: string }
        rarity: { type: [string, "null"] }
        gen: { type: [string, "null"] }
        type: { type: [string, "null"] }
        image: { type: [string, "null"] }
        imageHigh: { type: [string, "null"], description: "The larger scan, where the catalogue has two sizes." }
        speciesId: { type: [integer, "null"] }
        tcgId: { type: [string, "null"] }
        copies: { type: integer, minimum: 1 }
        favorite: { type: boolean, description: "One of the owned copies is starred; always false on a wish." }

    Stats:
      type: object
      description: The dashboard's numbers. Copies count what is held; cards count rows.
      required: [cards, copies, wishlist, favorites, sets, value, unpriced]
      properties:
        cards: { type: integer }
        copies: { type: integer }
        wishlist: { type: integer }
        favorites: { type: integer }
        sets: { type: integer, description: "Sets with at least one owned copy." }
        value: { type: number, description: "Today's value of every copy held, in euros, to the cent. Printing by printing: a reverse holo at its own price." }
        unpriced: { type: integer, description: "Copies held that carry no price and add nothing to value." }

    DexCard:
      type: object
      required: [key, name, image]
      properties:
        key: { type: string, description: "The card's key in `GET /v1/collection`." }
        name: { type: string }
        image: { type: [string, "null"] }

    DexSummary:
      type: object
      description: One National Pokédex slot, with the owned cards of it as name and picture.
      required: [id, name, owned, cards]
      properties:
        id: { type: integer }
        name: { type: string }
        owned: { type: integer, description: "Owned cards of this Pokémon." }
        cards: { type: array, items: { $ref: "#/components/schemas/DexCard" } }

    Folder:
      type: object
      description: >-
        A folder the person made. One filled by hand holds the copies filed in it; one with a
        rule fills itself from the owned copies the rule matches. A folder keeps its kind.
      required: [id, name, kind, rule, pokedex, isPublic, createdAt]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        kind: { type: string, enum: [manual, rule] }
        isPublic: { type: boolean, description: "Shown on the owner's public profile, as a filter over the public cards, while the profile itself is public. Off by default." }
        pokedex:
          oneOf:
            - { $ref: "#/components/schemas/PokedexSetting" }
            - { type: "null" }
        rule:
          oneOf:
            - { $ref: "#/components/schemas/FolderRule" }
            - { type: "null" }
        createdAt: { type: string, format: date-time }
        count: { type: integer, description: "Owned copies filed in it, or, for a rule folder, matching its rule. On `GET /v1/folders` and on a folder just made (`0`); a patched folder comes back without it." }

    FolderRule:
      type: object
      description: >-
        What a rule folder shows: every owned copy that matches. AND between the fields, OR
        within a list. A trainer or energy has no Pokédex number and never matches a `dex`
        clause. Sets match by the name the catalogue spells or the title it shows; case does
        not matter, for rarities either.
      minProperties: 1
      additionalProperties: false
      properties:
        dex:
          type: object
          required: [from, to]
          properties:
            from: { type: integer, minimum: 1, maximum: 1025 }
            to: { type: integer, minimum: 1, maximum: 1025 }
        sets: { type: array, minItems: 1, maxItems: 20, items: { type: string, minLength: 1, maxLength: 100 } }
        rarities: { type: array, minItems: 1, maxItems: 20, items: { type: string, minLength: 1, maxLength: 100 } }

    PokedexSetting:
      type: object
      description: >-
        A folder shown as a Pokédex: its cards in the national order, one slot per Pokémon.
        `missing` shows the slots the folder has no card of; `dex` is the range collected, all
        of it when absent; `rarities` keeps only cards of those rarities in the slots (a full-art
        Pokédex), every card when absent; `kinds` keeps only cards of those kinds (V, ex, GX, …),
        every kind when absent.
      required: [missing]
      additionalProperties: false
      properties:
        missing: { type: boolean }
        rarities:
          type: array
          minItems: 1
          maxItems: 20
          items: { type: string, minLength: 1, maxLength: 60 }
          description: "Rarities in the catalogue's words; case does not matter to the reader."
        kinds:
          type: array
          minItems: 1
          maxItems: 20
          items: { type: string, minLength: 1, maxLength: 20 }
          description: "Kinds of card, as the reader names them: regular, ex, EX, GX, tag-team, V, VMAX, VSTAR, mega, radiant, break."
        dex:
          type: object
          required: [from, to]
          properties:
            from: { type: integer, minimum: 1, maximum: 1025 }
            to: { type: integer, minimum: 1, maximum: 1025 }

    FolderDraft:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 60 }
        rule: { $ref: "#/components/schemas/FolderRule" }
        pokedex: { $ref: "#/components/schemas/PokedexSetting" }
        isPublic: { type: boolean, default: false }

    FolderPatch:
      type: object
      description: >-
        A name, a rule, a Pokédex setting, whether it is public, or any of them together. A
        folder filled by hand cannot be given a rule, and a rule folder cannot lose its rule;
        either is a 400 with a sentence.
      minProperties: 1
      properties:
        name: { type: string, minLength: 1, maxLength: 60 }
        rule: { $ref: "#/components/schemas/FolderRule" }
        isPublic: { type: boolean }
        pokedex:
          description: "`null` turns the Pokédex setting off."
          oneOf:
            - { $ref: "#/components/schemas/PokedexSetting" }
            - { type: "null" }

    ValueSnapshot:
      type: object
      required: [date, value, cards, priced, unpriced]
      properties:
        date: { type: string, format: date }
        value: { type: integer, description: "Whole euros." }
        cards: { type: integer, description: "Copies held on that date." }
        priced: { type: integer }
        unpriced: { type: integer }

    CardPricePoint:
      type: object
      required: [date, market, holo]
      properties:
        date: { type: string, format: date }
        market: { type: [number, "null"], description: "The normal printing, in euros; null where Cardmarket published nothing." }
        holo: { type: [number, "null"], description: "The foil, or null where there is no separate foil price." }

    LatestPull:
      type: object
      required: [name, number, image, imageHigh, rarity, speciesId, tcgId, setName, setTitle, acquiredAt]
      properties:
        name: { type: string }
        number: { type: string }
        image: { type: [string, "null"], description: "Can be relative; prefix `https://cardorb.com`." }
        imageHigh: { type: [string, "null"] }
        rarity: { type: [string, "null"] }
        speciesId: { type: [integer, "null"] }
        tcgId: { type: [string, "null"] }
        setName: { type: string }
        setTitle: { type: string }
        acquiredAt: { type: string, format: date-time }

    OwnProfile:
      type: object
      required: [username, displayName, isPublic, wishlistPublic, favoritesPublic, pokedexPublic, avatarUrl, onboardedAt, pokedex, email]
      properties:
        username: { type: string, description: "The name in `/user/<name>`." }
        displayName: { type: [string, "null"] }
        isPublic: { type: boolean }
        wishlistPublic: { type: boolean, description: "The wishlist shows on the public page too, while isPublic." }
        favoritesPublic: { type: boolean, description: "The favorites show on the public page too, while isPublic." }
        pokedexPublic: { type: boolean, description: "The Pokédex shows on the public page too, while isPublic." }
        avatarUrl: { type: [string, "null"] }
        onboardedAt: { type: [string, "null"], format: date-time }
        pokedex:
          description: How the built-in Pokédex shows; null is every slot, missing ones too.
          oneOf:
            - { $ref: "#/components/schemas/PokedexSetting" }
            - { type: "null" }
        email: { type: string }

    ColumnMap:
      type: object
      description: Which column of the CSV holds which field, as zero-based indices.
      properties:
        name: { type: integer }
        set: { type: integer }
        number: { type: integer }
        rarity: { type: integer }
        gen: { type: integer }
        types: { type: integer }
        owned: { type: integer }
        acquired: { type: integer }

    ImportOutcome:
      type: object
      required: [seen, added, skipped, sample]
      properties:
        seen: { type: integer }
        added: { type: integer }
        skipped: { type: integer }
        sample: { type: array, items: { $ref: "#/components/schemas/CollectionRow" } }

    ImportRecord:
      type: object
      description: One past import, as the database keeps it. Snake-case on purpose; it is the row.
      properties:
        id: { type: string }
        kind: { type: string }
        status: { type: string }
        rows_seen: { type: integer }
        rows_added: { type: integer }
        rows_skipped: { type: integer }
        error: { type: [string, "null"] }
        started_at: { type: string, format: date-time }
        finished_at: { type: [string, "null"], format: date-time }

    SnapshotOutcome:
      type: object
      required: [ok, date, written, prices, failed]
      properties:
        ok: { type: boolean }
        date: { type: string, format: date }
        written: { type: integer }
        prices: { type: integer }
        failed: { type: array, items: { type: string } }

paths:
  # ── Collection ────────────────────────────────────────────────────────────
  /v1/collection:
    get:
      tags: [Collection]
      operationId: getCollection
      summary: The whole collection, grouped by set
      description: |
        Every set the caller owns a card from, with every card and every copy.
        Prices included. An empty collection is `{ "sets": [] }`, not an error.
      responses:
        "200":
          description: The collection.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Collection" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/cards:
    get:
      tags: [Collection]
      operationId: listCards
      summary: One page of the collection as a flat list of copies
      description: |
        The shape a list with a search box wants; `GET /v1/collection` is the same
        collection grouped by set. Read from the same cached assembly, so a page
        is a filter over memory. A value the query cannot mean is a 400, never a guess.
        `facets` names every set and rarity among the owned copies, whatever the filters,
        for a filter menu — so a list page never needs the whole collection.
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 100 }, description: "Matches the name or the set, anywhere, in any case." }
        - { name: owned, in: query, schema: { type: boolean }, description: "`true` the collection, `false` the wishlist, absent both." }
        - { name: favorite, in: query, schema: { type: boolean } }
        - { name: priced, in: query, schema: { type: boolean }, description: "`true` the copies with a price, `false` the ones nothing prices, absent both." }
        - { name: collection, in: query, schema: { type: string, format: uuid }, description: "A folder id. A rule folder answers with the owned copies its rule matches, whatever `owned` says. An id that is no folder of the caller's is a 404." }
        - { name: set, in: query, schema: { type: string, maxLength: 100 }, description: "One set, whole, by its name or its title; case does not matter." }
        - { name: rarity, in: query, schema: { type: string, maxLength: 100 }, description: "One rarity, whole, in the catalogue's words; case does not matter." }
        - { name: number, in: query, schema: { type: string, maxLength: 100 }, description: "One card number, whole, as printed; with `set` it names one card's every row." }
        - { name: sort, in: query, schema: { type: string, enum: [set, name, price, added, dex], default: set }, description: "`set` is the assembly's order (set by set, number by number). `price` is the copy's own printing. `added` is the day it joined the collection. `dex` is the national Pokédex number; a trainer or energy has none and goes last." }
        - { name: order, in: query, schema: { type: string, enum: [asc, desc] }, description: "Absent, each sort reads the way a person means it: `added` newest first, the rest up. A copy without the key (no price, no date) goes last either way." }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 2000, default: 100 }, description: "Above 2000 is read as 2000: a whole collection in one page, for a Pokédex. Not a whole number, or below 1, is a 400." }
        - { name: offset, in: query, schema: { type: integer, minimum: 0, default: 0 }, description: "Not a whole number, or below 0, is a 400." }
      responses:
        "200":
          description: The page, in the asked order (set order when none was), the total behind it, and the facets over the owned whole.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema:
                type: object
                required: [cards, total, value, unpriced, facets]
                properties:
                  cards: { type: array, items: { $ref: "#/components/schemas/CardItem" } }
                  total: { type: integer }
                  value: { type: number, description: "What the whole filtered list is worth, in euros to the cent: not the page. An owned copy counts as many times as held, a wish once." }
                  unpriced: { type: integer, description: "Copies in the filtered list no price was found for." }
                  facets: { $ref: "#/components/schemas/Facets" }
                  catalogueUnavailable:
                    type: boolean
                    const: true
                    description: "Present only when TCGdex could not be reached: the cards are the rows alone, without a scan, a catalogue id or a price, and nothing has cached them."
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }
    post:
      tags: [Collection]
      operationId: addCard
      summary: Add a card
      description: Writes one collection row. `BODY_LIMIT.card`, 8 kB.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CardDraft" }
      responses:
        "200":
          description: Added.
          content:
            application/json:
              schema:
                type: object
                required: [ok, id]
                properties:
                  ok: { type: boolean, const: true }
                  id: { type: string, description: "The new row." }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }
    options:
      tags: [Collection]
      operationId: addCardPreflight
      summary: CORS preflight for a cross-origin write
      security: []
      responses:
        "204": { description: "Allowed. Carries the `Access-Control-Allow-*` headers." }
        "403": { description: "That origin is not in `ALLOWED_ORIGINS`. Empty body." }

  /v1/cards/{tcgId}:
    get:
      tags: [Collection]
      operationId: getCard
      summary: One card, its printings and its price
      parameters:
        - { name: tcgId, in: path, required: true, schema: { type: string }, description: "TCGdex's card id, e.g. `swsh3-136`." }
      responses:
        "200":
          description: The card.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CardDetail" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/cards/{tcgId}/prices:
    get:
      tags: [Value]
      operationId: getCardPrices
      summary: One card's price, day by day, over the last ninety days
      description: The nightly readings for a held card. A card with no readings answers an empty list, not a 404.
      parameters:
        - { name: tcgId, in: path, required: true, schema: { type: string }, description: "TCGdex's card id, e.g. `swsh3-136`." }
      responses:
        "200":
          description: The points, oldest first.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema:
                type: object
                required: [points]
                properties:
                  points: { type: array, items: { $ref: "#/components/schemas/CardPricePoint" } }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/collection/items/{id}/copies:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: "The row the copy comes from." }
    post:
      tags: [Collection]
      operationId: addCopy
      summary: One more copy of a row, as a row of its own
      description: The same card and inventory as the row, with the differences given, `count` held, pulled now unless `acquiredAt` says when. The row is untouched. An empty body is one more identical copy.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CopyBody" }
      responses:
        "201":
          description: The new row.
          content:
            application/json:
              schema:
                type: object
                required: [ok, card]
                properties:
                  ok: { type: boolean, const: true }
                  card: { $ref: "#/components/schemas/CollectionRow" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }
    options:
      tags: [Collection]
      operationId: addCopyPreflight
      summary: CORS preflight
      responses:
        "204": { description: Allowed origin. }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/collection/items/{id}/split:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: "The row some of whose copies are different." }
    post:
      tags: [Collection]
      operationId: splitItem
      summary: Some of a row's copies as a row of their own
      description: The row loses `count`; the copy is born with the differences and the row's acquired date. At least one difference; `count` at or above the quantity is a 400 (that is every copy; change the row).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CopyBody" }
      responses:
        "201":
          description: The new row and the row it came from, as they now are.
          content:
            application/json:
              schema:
                type: object
                required: [ok, card, source]
                properties:
                  ok: { type: boolean, const: true }
                  card: { $ref: "#/components/schemas/CollectionRow" }
                  source: { $ref: "#/components/schemas/CollectionRow" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }
    options:
      tags: [Collection]
      operationId: splitItemPreflight
      summary: CORS preflight
      responses:
        "204": { description: Allowed origin. }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/collection/items/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: "The collection row, from `Variant.id` or `BrowseCard.itemIds`." }
    patch:
      tags: [Collection]
      description: "Filing it into a folder (`collectionId`) needs one filled by hand: a rule folder decides its own contents, and naming one is a 400; a folder that is not the caller's is a 404."
      operationId: updateItem
      summary: Change one copy's inventory fields
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CardPatch" }
      responses:
        "200":
          description: Changed. The row as it now is.
          content:
            application/json:
              schema:
                type: object
                required: [ok, card]
                properties:
                  ok: { type: boolean, const: true }
                  card: { $ref: "#/components/schemas/CollectionRow" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }
    delete:
      tags: [Collection]
      operationId: deleteItem
      summary: Remove one copy
      description: Needs `Content-Type application/json` even without a body; that is what forces the preflight.
      responses:
        "200":
          description: Removed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }
    options:
      tags: [Collection]
      operationId: updateItemPreflight
      summary: CORS preflight for a cross-origin write
      security: []
      responses:
        "204": { description: "Allowed." }
        "403": { description: "That origin is not in `ALLOWED_ORIGINS`. Empty body." }

  /v1/fields:
    get:
      tags: [Collection]
      operationId: getFields
      summary: The database's select options
      description: The cheapest call there is, so it is also how a client learns whether its credential still works.
      responses:
        "200":
          description: The options.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CardFields" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  # ── Catalogue ─────────────────────────────────────────────────────────────
  /v1/catalog/sets:
    get:
      tags: [Catalogue]
      operationId: listSets
      summary: Every set, with how much of each the caller holds
      parameters:
        - { name: language, in: query, required: false, schema: { type: string, enum: [en, ja, zh-tw, zh-cn, ko] }, description: "That language's own catalogue (TCGdex); left out, English. Sets and cards there have their own ids and names." }
      responses:
        "200":
          description: The sets.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema:
                type: object
                required: [sets]
                properties:
                  sets: { type: array, items: { $ref: "#/components/schemas/CatalogueSetWithCounts" } }
                  collectionUnavailable:
                    type: boolean
                    const: true
                    description: Present only when the counts could not be read; the sets are still right.
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/catalog/sets/{setId}:
    get:
      tags: [Catalogue]
      operationId: getSet
      summary: One whole set, a page at a time
      parameters:
        - { name: language, in: query, required: false, schema: { type: string, enum: [en, ja, zh-tw, zh-cn, ko] }, description: "That language's own catalogue (TCGdex); left out, English." }
        - { name: setId, in: path, required: true, schema: { type: string }, description: "pokemontcg.io's set id, e.g. `swsh3`." }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: pageSize, in: query, schema: { type: integer, minimum: 1, maximum: 250, default: 60 }, description: "Clamped to 250." }
      responses:
        "200":
          description: The page.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema:
                type: object
                required: [set, cards, page, pageSize, totalCount, ownedCount, hasMore]
                properties:
                  set: { $ref: "#/components/schemas/CatalogueSet" }
                  cards: { type: array, items: { $ref: "#/components/schemas/BrowseCard" } }
                  page: { type: integer }
                  pageSize: { type: integer }
                  totalCount: { type: integer }
                  ownedCount: { type: integer }
                  hasMore: { type: boolean }
                  collectionUnavailable: { type: boolean, const: true }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/catalog/search:
    get:
      tags: [Catalogue]
      operationId: searchCatalogue
      summary: Find a card by name, number, set or type
      description: |
        Two modes. With any of `name`, `number`, `set`, `type` it filters; otherwise
        `query` (two characters or more) is a free search.
      parameters:
        - { name: query, in: query, schema: { type: string, minLength: 2 } }
        - { name: name, in: query, schema: { type: string } }
        - { name: number, in: query, schema: { type: string } }
        - { name: set, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
      responses:
        "200":
          description: The matches.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema:
                type: object
                required: [cards]
                properties:
                  cards: { type: array, items: { $ref: "#/components/schemas/BrowseCard" } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/stats:
    get:
      tags: [Collection]
      operationId: getStats
      summary: The dashboard's numbers
      responses:
        "200":
          description: The counts.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema:
                type: object
                required: [stats]
                properties:
                  stats: { $ref: "#/components/schemas/Stats" }
                  catalogueUnavailable:
                    type: boolean
                    const: true
                    description: "Present only when TCGdex could not be reached; the counts stand, the value is zero for want of prices."
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/pokedex:
    get:
      tags: [Collection]
      operationId: getPokedex
      summary: Every National Pokédex slot, with how many cards of it the caller owns
      description: 1,025 entries, each a count and the owned cards of that Pokémon as name and picture. The rows are `GET /v1/cards`.
      responses:
        "200":
          description: The slots, in Pokédex order.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema:
                type: object
                required: [entries]
                properties:
                  entries: { type: array, items: { $ref: "#/components/schemas/DexSummary" } }
                  catalogueUnavailable:
                    type: boolean
                    const: true
                    description: "Present only when TCGdex could not be reached; the counts stand, the pictures do not."
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/folders:
    get:
      tags: [Collection]
      operationId: listFolders
      summary: The caller's folders, oldest first, each with its kind, its rule and how many owned copies it holds
      responses:
        "200":
          description: The folders.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema:
                type: object
                required: [folders]
                properties:
                  folders: { type: array, items: { $ref: "#/components/schemas/Folder" } }
                  catalogueUnavailable:
                    type: boolean
                    const: true
                    description: "Present only when TCGdex could not be reached; a rule folder's `count` is then low, for want of Pokédex numbers and set titles."
                  collectionUnavailable:
                    type: boolean
                    const: true
                    description: Present only when the rows could not be read, so every `count` is 0 for that reason and not because the folders are empty.
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }
    post:
      tags: [Collection]
      operationId: createFolder
      summary: Make a folder, by hand or from a rule
      description: "`BODY_LIMIT.folder`, 8 kB. The name is trimmed and inner whitespace collapsed. With a `rule` the folder fills itself; its `count` in the answer is 0 until the next list."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FolderDraft" }
      responses:
        "200":
          description: Made.
          content:
            application/json:
              schema:
                type: object
                required: [ok, folder]
                properties:
                  ok: { type: boolean, const: true }
                  folder: { $ref: "#/components/schemas/Folder" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/folders/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      tags: [Collection]
      operationId: renameFolder
      summary: Rename a folder, or change a rule folder's rule
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FolderPatch" }
      responses:
        "200":
          description: Changed.
          content:
            application/json:
              schema:
                type: object
                required: [ok, folder]
                properties:
                  ok: { type: boolean, const: true }
                  folder: { $ref: "#/components/schemas/Folder" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }
    delete:
      tags: [Collection]
      operationId: deleteFolder
      summary: Delete a folder
      description: The copies filed in it stay in the collection and are taken out of the folder first.
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  # ── Value ─────────────────────────────────────────────────────────────────
  /v1/value-history:
    get:
      tags: [Value]
      operationId: getValueHistory
      summary: The caller's collection value over time, oldest first
      description: >-
        Needs a bearer token or a session. Without `folder`, the nightly readings of the whole
        collection. With one, the same shape for that list, built from the daily per-card prices:
        a shorter history, starting where those do.
      parameters:
        - name: folder
          in: query
          required: false
          schema: { type: string }
          description: A folder id, `favorites`, or `wishlist` (what the wished cards would cost).
      responses:
        "200":
          description: The series.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Private" } }
          content:
            application/json:
              schema:
                type: object
                required: [snapshots]
                properties:
                  snapshots: { type: array, items: { $ref: "#/components/schemas/ValueSnapshot" } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  # ── Profile ───────────────────────────────────────────────────────────────
  /v1/profile:
    get:
      tags: [Profile]
      operationId: getProfile
      summary: The caller's own profile
      responses:
        "200":
          description: The profile.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OwnProfile" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }
    patch:
      tags: [Profile]
      operationId: updateProfile
      summary: Change the display name, the public flag, or mark onboarding done
      description: Same-origin only. At least one key; `onboarded` accepts only `true`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName: { type: string, maxLength: 60, description: "Empty clears it." }
                isPublic: { type: boolean }
                wishlistPublic: { type: boolean, description: "The wishlist on the public page too, while isPublic." }
                favoritesPublic: { type: boolean, description: "The favorites on the public page too, while isPublic." }
                pokedexPublic: { type: boolean, description: "The Pokédex on the public page too, while isPublic." }
                onboarded: { type: boolean, const: true }
                pokedex:
                  description: How the built-in Pokédex shows; null restores the default.
                  oneOf:
                    - { $ref: "#/components/schemas/PokedexSetting" }
                    - { type: "null" }
      responses:
        "200":
          description: Changed. Echoes the keys that were applied.
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean, const: true }
                  displayName: { type: [string, "null"] }
                  isPublic: { type: boolean }
                  wishlistPublic: { type: boolean }
                  favoritesPublic: { type: boolean }
                  pokedexPublic: { type: boolean }
                  onboardedAt: { type: string, format: date-time }
                  pokedex:
                    oneOf:
                      - { $ref: "#/components/schemas/PokedexSetting" }
                      - { type: "null" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/profile/avatar:
    post:
      tags: [Profile]
      operationId: uploadAvatar
      summary: Set the avatar
      description: Same-origin only. A PNG, JPEG or WebP as a data URL, at most 2 MB decoded. Thirty an hour.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [image]
              properties:
                image: { type: string, description: "`data:image/png;base64,…`" }
      responses:
        "200":
          description: Set.
          content:
            application/json:
              schema:
                type: object
                required: [ok, avatarUrl]
                properties:
                  ok: { type: boolean, const: true }
                  avatarUrl: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }
    delete:
      tags: [Profile]
      operationId: removeAvatar
      summary: Remove the avatar
      responses:
        "200":
          description: Removed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/username:
    post:
      tags: [Profile]
      operationId: claimUsername
      summary: Claim a username
      description: Same-origin only. Lower-cased and trimmed first; claiming your own name is a no-op that answers 200.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username: { type: string }
      responses:
        "200":
          description: Claimed.
          content:
            application/json:
              schema:
                type: object
                required: [ok, username]
                properties:
                  ok: { type: boolean, const: true }
                  username: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409":
          description: Taken, or reserved.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/usernames/{name}:
    get:
      tags: [Profile]
      operationId: checkUsername
      summary: Is this name free?
      description: Same-origin only, no viewer needed, sixty a minute. Answers 200 either way; a "no" carries the reason.
      security: []
      parameters:
        - { name: name, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: The answer.
          content:
            application/json:
              schema:
                type: object
                required: [available]
                properties:
                  available: { type: boolean }
                  reason: { type: string, description: "Only when `available` is false." }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── Account ───────────────────────────────────────────────────────────────
  /v1/session:
    post:
      tags: [Account]
      operationId: signIn
      summary: Sign in
      description: |
        Same-origin only; the browser's form. Sets the session cookie. Twenty
        attempts per address and five per address-and-email each fifteen minutes.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        "200":
          description: Signed in.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: That email or password is not right.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Wrong origin, or the address is not confirmed yet (then `unconfirmed` is `true`).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Error"
                  - type: object
                    properties:
                      unconfirmed: { type: boolean, const: true }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }
    delete:
      tags: [Account]
      operationId: signOut
      summary: Sign out
      description: Clears the session cookie. Always 200, even with no session.
      security: []
      responses:
        "200":
          description: Signed out.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }

  /v1/signup:
    post:
      tags: [Account]
      operationId: signUp
      summary: Create an account
      description: Same-origin only. Five per address each fifteen minutes. Sends a confirmation email; the account is `pending` until it is followed.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 10 }
                name: { type: string, maxLength: 60 }
      responses:
        "200":
          description: Created, pending confirmation.
          content:
            application/json:
              schema:
                type: object
                required: [ok, pending, email]
                properties:
                  ok: { type: boolean, const: true }
                  pending: { type: boolean, const: true }
                  email: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403":
          description: Wrong origin, or new accounts are closed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: That address is already in use.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/confirmation:
    post:
      tags: [Account]
      operationId: resendConfirmation
      summary: Send the confirmation email again
      description: Same-origin only. Always 200 so an address cannot be probed; over three per fifteen minutes it silently does nothing.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: Accepted, whether or not a mail went out.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/password:
    post:
      tags: [Account]
      operationId: changePassword
      summary: Change the password
      description: Same-origin, session only. `currentPassword` is required unless the caller arrived through recovery.
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, minLength: 10 }
                currentPassword: { type: string }
      responses:
        "200":
          description: Changed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/password/reset:
    post:
      tags: [Account]
      operationId: requestPasswordReset
      summary: Send a password reset email
      description: Same-origin only. Always 200; over three per fifteen minutes it silently does nothing.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: Accepted.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/email:
    post:
      tags: [Account]
      operationId: changeEmail
      summary: Change the email address
      description: Same-origin, session only. Ten per address each fifteen minutes. Supabase mails both addresses.
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: Requested.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/account:
    delete:
      tags: [Account]
      operationId: deleteAccount
      summary: Delete the account and everything in it
      description: Needs the password in the body, as confirmation. Irreversible.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string }
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403":
          description: Wrong origin, or that password is not right.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  # ── Import ────────────────────────────────────────────────────────────────
  /v1/import/csv:
    post:
      tags: [Import]
      operationId: importCsv
      summary: Preview or commit a CSV import
      description: |
        Same-origin, session only. Without `commit` it is a dry run that answers
        with the header, the guessed column map and a sample. With `commit: true`
        it writes, ten times per person each fifteen minutes. 2 MB, 5,000 rows.
      security: [{ session: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [csv]
              properties:
                csv: { type: string }
                map: { $ref: "#/components/schemas/ColumnMap" }
                commit: { type: boolean, default: false }
      responses:
        "200":
          description: The outcome. A preview also carries `header`, `guessed` and `skippedRows`.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ImportOutcome"
                  - type: object
                    properties:
                      header: { type: array, items: { type: string } }
                      guessed: { $ref: "#/components/schemas/ColumnMap" }
                      skippedRows:
                        type: array
                        items:
                          type: object
                          properties:
                            line: { type: integer }
                            why: { type: string }
        "400":
          description: Refused. When the name and set columns could not be found, `header` and `guessed` come along so the client can ask.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Error"
                  - type: object
                    properties:
                      header: { type: array, items: { type: string } }
                      guessed: { $ref: "#/components/schemas/ColumnMap" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/imports:
    get:
      tags: [Import]
      operationId: listImports
      summary: Recent imports
      security: [{ session: [] }]
      responses:
        "200":
          description: The most recent imports, newest first.
          content:
            application/json:
              schema:
                type: object
                required: [imports]
                properties:
                  imports: { type: array, items: { $ref: "#/components/schemas/ImportRecord" } }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "503": { $ref: "#/components/responses/Unavailable" }

  # ── Public ────────────────────────────────────────────────────────────────
  /v1/public/{username}/collection:
    get:
      tags: [Public]
      operationId: getPublicCollection
      summary: A public collection, without prices
      description: |
        No key. Of each copy, only `rarity` and `owned` are published (R-API-002);
        `imageHigh` is dropped too. Sixty a minute per address; cached five minutes at the CDN.
      security: []
      parameters:
        - { name: username, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: The collection.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Public" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Collection" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/public/{username}/profile:
    get:
      tags: [Public]
      operationId: getPublicProfile
      summary: The name to print and the picture, for a public profile's header
      description: No key. Sixty a minute per address; cached five minutes at the CDN.
      security: []
      parameters:
        - { name: username, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: The profile's public face.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Public" } }
          content:
            application/json:
              schema:
                type: object
                required: [username, displayName, avatarUrl, wishlistPublic, favoritesPublic, pokedexPublic, pokedex]
                properties:
                  username: { type: string }
                  displayName: { type: [string, "null"] }
                  avatarUrl: { type: [string, "null"] }
                  wishlistPublic: { type: boolean, description: "Whether `GET /v1/public/{username}/cards?list=wishlist` answers." }
                  favoritesPublic: { type: boolean, description: "Whether `?list=favorites` answers." }
                  pokedexPublic: { type: boolean, description: "Whether `?list=pokedex` answers." }
                  pokedex:
                    description: The owner's Pokédex setting, for drawing theirs the way they see it; null unless pokedexPublic.
                    oneOf:
                      - { $ref: "#/components/schemas/PokedexSetting" }
                      - { type: "null" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/public/{username}/cards:
    get:
      tags: [Public]
      operationId: listPublicCards
      summary: One page of a public collection as a flat list
      description: |
        For a page that shows a hundred cards at a time and should not fetch the whole
        collection to do it. One entry per card with owned copies, nothing private. Narrowed
        by a search, a set or a rarity; sorted by set order or by name, since a public page
        carries no price and no date. `facets` names every set and rarity in the whole
        collection, for a filter menu. No key; sixty a minute per address; cached at the CDN.
      security: []
      parameters:
        - { name: username, in: path, required: true, schema: { type: string } }
        - { name: q, in: query, schema: { type: string, maxLength: 100 }, description: "Matches the name or the set." }
        - { name: set, in: query, schema: { type: string, maxLength: 100 }, description: "One set, whole, by its name or its title; case does not matter." }
        - { name: rarity, in: query, schema: { type: string, maxLength: 100 }, description: "One rarity, whole, in the catalogue's words; case does not matter." }
        - { name: collection, in: query, schema: { type: string, format: uuid }, description: "One of the owner's public folders (`GET /v1/public/{username}/folders`): the copies filed in it, or the owned copies its rule matches. Any other id is a 404." }
        - { name: list, in: query, schema: { type: string, enum: [wishlist, favorites, pokedex] }, description: "A list beside the collection: `wishlist` is the cards the owner is looking for (`copies` the wishes), `favorites` the owned cards they starred, `pokedex` the whole owned collection for a page that draws it as a Pokédex. Each only while the profile shows it (`wishlistPublic`, `favoritesPublic`, `pokedexPublic`); otherwise a 404. `collection` is ignored with any of them." }
        - { name: sort, in: query, schema: { type: string, enum: [set, name], default: set }, description: "`set` is the assembly's order (set by set, number by number)." }
        - { name: order, in: query, schema: { type: string, enum: [asc, desc], default: asc } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 500, default: 100 } }
        - { name: offset, in: query, schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        "200":
          description: The page, the total behind it, how many sets the whole spans, and the facets over the whole.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Public" } }
          content:
            application/json:
              schema:
                type: object
                required: [cards, total, sets, facets]
                properties:
                  cards: { type: array, items: { $ref: "#/components/schemas/PublicItem" } }
                  total: { type: integer, description: "Cards behind the page, after the filters." }
                  sets: { type: integer, description: "Sets with at least one owned card, over the whole collection rather than the page." }
                  facets: { $ref: "#/components/schemas/Facets" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/public/{username}/folders:
    get:
      tags: [Public]
      operationId: listPublicFolders
      summary: The folders a person shows on their public profile, oldest first
      description: |
        Only folders their owner marked public, and only while the profile itself is public:
        a private profile is a 404 here as everywhere under this prefix. Each carries how many
        owned cards it holds, counted the way the public list counts them (one per card, not
        per copy), so a filter chip can say it. No key; sixty a minute per address; cached at
        the CDN.
      security: []
      parameters:
        - { name: username, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: The public folders.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Public" } }
          content:
            application/json:
              schema:
                type: object
                required: [folders]
                properties:
                  folders:
                    type: array
                    items:
                      type: object
                      required: [id, name, kind, count]
                      properties:
                        id: { type: string, format: uuid }
                        name: { type: string }
                        kind: { type: string, enum: [manual, rule] }
                        count: { type: integer, description: "Cards with an owned copy in it." }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/public/{username}/cards/{tcgId}:
    get:
      tags: [Public]
      operationId: getPublicCard
      summary: One card from a public collection, without its price
      security: []
      parameters:
        - { name: username, in: path, required: true, schema: { type: string } }
        - { name: tcgId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: The card, with `price` and `market` both `null`.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Public-Catalogue" } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CardDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/public/{username}/latest-pull:
    get:
      tags: [Public]
      operationId: getLatestPull
      summary: The most recent addition
      description: |
        The one route meant to be read from another site, so the one that sends
        `Access-Control-Allow-Origin: *`. The newest owned, dated, non-excluded
        printing. 404 means there is nothing to show.
      security: []
      parameters:
        - { name: username, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: The card.
          headers: { Cache-Control: { $ref: "#/components/headers/Cache-Control-Public" } }
          content:
            application/json:
              schema:
                type: object
                required: [latestPull]
                properties:
                  latestPull: { $ref: "#/components/schemas/LatestPull" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/Unavailable" }
    options:
      tags: [Public]
      operationId: getLatestPullPreflight
      summary: CORS preflight
      security: []
      responses:
        "204": { description: "Allowed for any origin." }

  # ── Platform ──────────────────────────────────────────────────────────────
  /v1/health:
    get:
      tags: [Platform]
      operationId: getHealth
      summary: Is the database reachable?
      description: No key. Also the daily keepalive, so a free Supabase project does not pause.
      security: []
      responses:
        "200":
          description: Fine.
          content:
            application/json:
              schema:
                type: object
                required: [ok, database]
                properties:
                  ok: { type: boolean, const: true }
                  database: { type: string, enum: [absent, reachable] }
        "503":
          description: The database is configured and not answering.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Error"
                  - type: object
                    required: [ok, database]
                    properties:
                      ok: { type: boolean, const: false }
                      database: { type: string, const: unreachable }

  /v1/cron/snapshot:
    get:
      tags: [Platform]
      operationId: runSnapshot
      summary: Record today's collection value for every account
      description: Vercel's cron, with `CRON_SECRET` as the bearer. Sixty seconds at most.
      security: [{ cron: [] }]
      responses:
        "200":
          description: Every account written.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SnapshotOutcome" }
        "207":
          description: Some accounts written; `failed` names the rest.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SnapshotOutcome" }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/cron/warm:
    get:
      tags: [Platform]
      operationId: warmCollections
      summary: Assemble every account's collection so its caches are warm
      description: Vercel's cron, every ten minutes, with `CRON_SECRET` as the bearer. The first read after a deploy rebuilds every set; this pays it on nobody's screen.
      security: [{ cron: [] }]
      responses:
        "200":
          description: Every account assembled; `warmed` lists each with its sets and milliseconds.
          content:
            application/json:
              schema:
                type: object
                required: [warmed, failed]
                properties:
                  warmed: { type: array, items: { type: object, required: [user, sets, ms], properties: { user: { type: string }, sets: { type: integer }, ms: { type: integer } } } }
                  failed: { type: array, items: { type: string } }
        "207":
          description: Some accounts assembled; `failed` names the rest.
          content:
            application/json:
              schema:
                type: object
                required: [warmed, failed]
                properties:
                  warmed: { type: array, items: { type: object, required: [user, sets, ms], properties: { user: { type: string }, sets: { type: integer }, ms: { type: integer } } } }
                  failed: { type: array, items: { type: string } }
        "401": { $ref: "#/components/responses/Unauthorised" }
        "503": { $ref: "#/components/responses/Unavailable" }

